@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.navigation-link-current {
  border-bottom: 2px solid #756257;
}

.header-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

/* -------index.html------- */
.main-index {
  background-color: #ffffff;
  background-image: url("../images/background_photo.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.hero-img {
  display: block;
  margin: 0 auto;
}

.advantages_lead {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.advantages_info {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.advantages-item-wide {
  color: #ffffff;
  background-color: #82b3d3;
}

.infrastructure-lead {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.infrastructure_info {
  color: #333333;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.infrastructure-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.search-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.search-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.search-form-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.search-form-label {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.search-form-input {
  color: inherit;
  background-color: #f2f2f2;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.search-form-calculate-label {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.search-form-count {
  color: inherit;
  background-color: #f2f2f2;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.search-form-btn-find {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  background-color: #83b3d3;
  text-transform: uppercase;
  text-align: center;
}

.subscribe {
  color: #ffffff;
  background-color: #f2f2f2;
  background-image: url("../images/background_subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-info {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.field {
  color: #000000;
  background-color: #f2f2f2;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.subscribe-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  background-color: #83b3d3;
  text-transform: uppercase;
  text-align: center;
}

.page-footer {
  background-color: #ffffff;
}

.footer-phone {
  color: #000000;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
}

/* -------catalog.html------- */
.inner-header {
  background-image: url("../images/background_filter.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #a9a9a9;
}

.main-header-title {
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.breadcrumbs-link {
  color: #ffffff;
  text-decoration: none;
}

.filters {
  color: #ffffff;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
}

.hotels-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.hotels-link {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-decoration: none;
}

.hotels-container {
  color: #333333;
}

.hotels-btn a {
  background-color: #82b3d3;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.hotels-btn .hotels-btn-brown {
  background-color: #756157;
}

.hotels-btn .hotels-btn-green {
  background-color: #7db54f;
}

.hotel-rating {
  color: #333333;
  font-size: 16px;
  line-height: 20px;
}

.pagination-link {
  background-color: #82b3d3;
  color: #ffffff;
  text-decoration: none;
}

.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
}
