@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
  margin: 0;
  height: 100%;
  min-width: 1280px;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-wrapper {
  background-color: #ffffff;
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* -----header----- */
.page-header {
  margin: 0 auto;
  width: 1060px;
  color: #000000;
  background-color: #ffffff;
  min-height: 64px;
  position: relative;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 892px;
  min-height: 64px;
  margin-left: 168px;
}

.navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-item {
  position: relative;
}

.navigation-user {
  text-decoration: none;
  justify-content: flex-end;
}

.navigation-logo {
  position: absolute;
  left: 0;
  top: 0;
}

.navigation-link {
  display: block;
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  padding: 20px 16px;
}

.navigation-link-current::before {
  position: absolute;
  content: "";
  left: 16px;
  right: 16px;
  bottom: -1px;
  height: 2px;
  background: #756257;
}

.navigation-link:not(.navigation-link-current):hover,
.navigation-link:not(.navigation-link-current):focus {
  background-color: #f2f2f2;
}

.navigation-link:not(.navigation-link-current):active {
  opacity: 60%;
}

.navigation-user-link-search {
  text-decoration: none;
  position: relative;
  min-height: 64px;
  width: 44px;
  height: 64px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.header-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

/* -------index.html------- */
.main-index {
  background-color: #ffffff;
  background-image: url("../images/background_photo.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.hero-img {
  display: block;
  margin: 0 auto;
}

.advantages_lead {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.advantages_info {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.advantages-item-wide {
  color: #ffffff;
  background-color: #82b3d3;
}

.infrastructure-lead {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.infrastructure_info {
  color: #333333;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.infrastructure-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.search-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.search-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.search-form-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.search-form-label {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.search-form-input {
  color: inherit;
  background-color: #f2f2f2;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.search-form-calculate-label {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.search-form-count {
  color: inherit;
  background-color: #f2f2f2;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.search-form-btn-find {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  background-color: #83b3d3;
  text-transform: uppercase;
  text-align: center;
}

.subscribe {
  color: #ffffff;
  background-color: #82b3d3;
  background-image: url("../images/background_subscribe.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.subscribe-theme-custom {
  background: none;
  color: #000000;
}

.subscribe-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-info {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.subscribe-info-special {
  color: #333333;
}

.field {
  color: #000000;
  background-color: #f2f2f2;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.subscribe-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  background-color: #83b3d3;
  text-transform: uppercase;
  text-align: center;
}

.page-footer {
  background-color: #ffffff;
}

.footer-phone {
  color: #000000;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
}

/* -------catalog.html------- */
.inner-header {
  background-image: url("../images/background_filter.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #a9a9a9;
}

.main-header-title {
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.breadcrumbs-link {
  color: #ffffff;
  text-decoration: none;
}

.filters {
  color: #ffffff;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
}

.hotels-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.hotels-link {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-decoration: none;
}

.hotels-container {
  color: #333333;
}

.hotels-btn a {
  background-color: #82b3d3;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.hotels-btn .hotels-btn-brown {
  background-color: #756157;
}

.hotels-btn .hotels-btn-green {
  background-color: #7db54f;
}

.hotel-rating {
  color: #333333;
  font-size: 16px;
  line-height: 20px;
}

.pagination-link {
  background-color: #82b3d3;
  color: #ffffff;
  text-decoration: none;
}

.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
}
